<%= nested_form_for @character do |f| %>

  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :alignment %>
    <br>
    <%= f.text_field :alignment %>
  </div>

  <h2>Weapon</h2>

  <p><%= f.link_to_add "Add a weapon", :weapons %></p>

  <%= f.fields_for :weapons do |weapon_f| %>
    <%= weapon_f.link_to_remove 'Delete Weapon' %>
    <div>
      <%= weapon_f.label :name, 'Weapon Name' %>
      <br>
      <%= weapon_f.text_field :name %>
    </div>
    <div>
      <%= weapon_f.label :description, 'Weapon Description' %>
      <br>
      <%= weapon_f.text_area :description %>
    </div>
  <% end %>

  <%= f.submit('Generate Character') %>

<% end %>
