<%= nested_form_for @character do |f| %>

  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :alignment %>
    <br>
    <%= f.select :alignment, [ 'Neutral', 'Good', 'Evil' ] %>
  </div>

  <h2>Skills</h2>

  <%= f.fields_for :skills do |skills_form| %>
    <div>
      <%= skills_form.link_to_remove 'Delete Skill' %>
    </div>
    <div>
      <%= skills_form.label :name, 'Skill' %>
      <br>
      <%= skills_form.text_field :name %>
    </div>
    <div>
      <%= skills_form.label :rank %>
      <br>
      <%= skills_form.number_field :rank %>
    </div>
    <div>
      <%= skills_form.label :class_skill %>
      <br>
      <%= skills_form.check_box :class_skill %>
    </div>
  <% end %>
  <div><%= f.link_to_add "Add a skill", :skills %></div>

  <h2>Weapon</h2>

  <%= f.fields_for :weapons do |weapon_form| %>
    <div>
      <%= weapon_form.link_to_remove 'Delete Weapon' %>
    </div>
    <div>
      <%= weapon_form.label :name, 'Weapon Name' %>
      <br>
      <%= weapon_form.text_field :name %>
    </div>
    <div>
      <%= weapon_form.label :description, 'Weapon Description' %>
      <br>
      <%= weapon_form.text_area :description %>
    </div>
  <% end %>
  <div><%= f.link_to_add "Add a weapon", :weapons %></div>
  <br>
  <br>

  <%= f.submit('Generate Character') %>

<% end %>
