<h1><%= @character.name %></h1>

<%= link_to("Edit #{@character.name}", edit_character_path(@character.id)) %>
<br>
<%= link_to("Delete #{@character.name}", character_path(@character.id), method: :delete, data: {confirm: "Are you sure?"}) %>

<h4>Alignment</h4>
<p><%= @character.alignment %></p>

<% @character.weapons.each do |weapon| %>

  <h4>Weapon</h4>
  <p>
    <%= weapon.name %>
  </p>
  <p>
    <%= weapon.description %>
  </p>

<% end %>
