<h1><%= @character.name %></h1>

<h4>Alignment:</h4><span><%= @character.alignment %></span>
<h4>Deity:</h4><span><%= @character.deity %></span>
<h4>Age:</h4><span><%= @character.age %></span>
<h4>Gender:</h4><span><%= @character.gender %></span>
